extends layout

block content
  div#maintop(class="w3-blue" style='position:absolute; width:1136px; height:470px; top:0px; left:0px;')
    div#gfx(style='position:absolute; width:100%; height:100%; top:60px; left:20px')
    input#inputChatName(class="w3-input w3-border w3-round-xxlarge w3-xlarge" type='text', placeholder='Nickname', style='position:absolute; width:400px; top:200px; left:368px;')
    button#btnRoom0(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 0</b>
    button#btnRoom1(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 1</b>
    button#btnRoom2(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 2</b>
    button#btnBone0(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:370px; left:160px;' disabled) <i>MOON</i>
    img#tile00(src="images/00.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:370px; left:160px;")
    button#btnBone1(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:370px; left:260px;' disabled) <i>MOON</i>
    img#tile11(src="images/11.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:370px; left:260px;")
    button#btnBone2(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:370px; left:360px;' disabled) <i>MOON</i>
    img#tile12(src="images/12.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:370px; left:360px;")
    button#btnBone3(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:420px; left:60px;' disabled) <i>MOON</i>
    img#tile13(src="images/13.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:420px; left:60px;")
    button#btnBone4(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:420px; left:160px;' disabled) <i>MOON</i>
    img#tile14(src="images/14.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:420px; left:160px;")
    button#btnBone5(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:420px; left:260px;' disabled) <i>MOON</i>
    img#tile15(src="images/15.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:420px; left:260px;")
    button#btnBone6(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:420px; left:360px;' disabled) <i>MOON</i>
    img#tile16(src="images/16.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:420px; left:360px;")
    button#btnBone7(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:420px; left:460px;' disabled) <i>MOON</i>
    img#tile22(src="images/22.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:420px; left:460px;")
    button#btnBone8(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:10px;' disabled) <i>MOON</i>
    img#tile23(src="images/23.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:10px;")
    button#btnBone9(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:110px;' disabled) <i>MOON</i>
    img#tile24(src="images/24.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:110px;")
    button#btnBone10(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:210px;' disabled) <i>MOON</i>
    img#tile25(src="images/25.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:210px;")
    button#btnBone11(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:310px;' disabled) <i>MOON</i>
    img#tile26(src="images/26.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:310px;")
    button#btnBone12(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:410px;' disabled) <i>MOON</i>
    img#tile33(src="images/33.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:410px;")
    button#btnBone13(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:470px; left:510px;' disabled) <i>MOON</i>
    img#tile34(src="images/34.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:470px; left:510px;")
    button#btnBone14(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:520px; left:60px;' disabled) <i>MOON</i>
    img#tile35(src="images/35.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:520px; left:60px;")
    button#btnBone15(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:520px; left:160px;' disabled) <i>MOON</i>
    img#tile36(src="images/36.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:520px; left:160px;")
    button#btnBone16(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:520px; left:260px;' disabled) <i>MOON</i>
    img#tile44(src="images/44.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:520px; left:260px;")
    button#btnBone17(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:520px; left:360px;' disabled) <i>MOON</i>
    img#tile45(src="images/45.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:520px; left:360px;")
    button#btnBone18(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:520px; left:460px;' disabled) <i>MOON</i>
    img#tile46(src="images/46.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:520px; left:460px;")
    button#btnBone19(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:570px; left:160px;' disabled) <i>MOON</i>
    img#tile55(src="images/55.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:570px; left:160px;")
    button#btnBone20(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:570px; left:260px;' disabled) <i>MOON</i>
    img#tile56(src="images/56.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:570px; left:260px;")
    button#btnBone21(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:40px; bottom:570px; left:360px;' disabled) <i>MOON</i>
    img#tile66(src="images/66.jpg" class="w3-button" style="position:absolute; width:110px; height:55px; bottom:570px; left:360px;")
    table#stats(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xxlarge" style='position:absolute; top:20px; right:20px; width:600px') <tr><th>Name</th><th>Wins</th><th>Score</th><th>Tricks</th></tr>
    h1#message(class="w3-center w3-card-4 w3-yellow w3-text-black w3-round-xxlarge" style='position:absolute; bottom:10px; left:10px; width:420px;') <b>Welcome to MOON</b>
    h2#bid(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xlarge" style='position:absolute; bottom:180px; right:10px; width:200px') <b> BID: - </b> 
    h2#trump(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xlarge" style='position:absolute; bottom:120px; right:10px; width:200px') <b> TRUMP: - </b> 
    h2#suit(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xlarge" style='position:absolute; bottom:60px; right:10px; width:200px') <b> SUIT: - </b> 
    button#btnBid0(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:540px; right:20px;' disabled) <b>PASS</b>
    button#btnBid1(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; right:20px;' disabled) <b>4</b>
    button#btnBid2(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:420px; right:20px;' disabled) <b>5</b>
    button#btnBid3(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:360px; right:20px;' disabled) <b>6</b>
    button#btnBid4(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:300px; right:20px;' disabled) <b>7</b>
    button#btnBid5(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:240px; right:20px;' disabled) <b>MOON</b>
    button#btnCall0(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:540px; right:40px;' disabled) <b>1</b>
    button#btnCall1(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:480px; right:40px;' disabled) <b>2</b>
    button#btnCall2(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:420px; right:40px;' disabled) <b>3</b>
    button#btnCall3(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:360px; right:40px;' disabled) <b>4</b>
    button#btnCall4(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:300px; right:40px;' disabled) <b>5</b>
    button#btnCall5(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:240px; right:40px;' disabled) <b>6</b>
    button#btnCall6(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:180px; right:40px;' disabled) <b>Doubles</b>
    button#btnCall7(class="w3-button w3-white w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:120px; height:50px; top:120px; right:40px;' disabled) <b>Follow Me</b>
    button#btnPlayWithBots(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:60px; bottom:80px; right:10px;') <b>Play with Bots</b>
    button#btnTimeout(class="w3-button w3-blue w3-hover-white w3-text-black w3-card-4 w3-ripple w3-round-xlarge" style='position:absolute; width:170px; height:50px; bottom:10px; right:10px;') <b>TIMEOUT:-</b>
    button#btnTimeoutRed(class="w3-button w3-red w3-hover-white w3-text-black w3-card-4 w3-ripple w3-round-xlarge" style='position:absolute; width:170px; height:50px; bottom:10px; right:10px;') <b>TIMEOUT:-</b>
