extends layout

block content
  div#maintop(class="w3-blue" style='position:absolute; width:1136px; height:470px; top:0px; left:0px;')
    div#gfx(style='position:absolute; width:100%; height:100%; top:60px; left:20px')
    input#inputChatName(class="w3-input w3-border w3-round-xxlarge w3-xlarge" type='text', placeholder='Nickname', style='position:absolute; width:400px; top:200px; left:368px;')
    input#inputMessage(class="w3-blue-grey w3-input w3-border w3-xlarge" type='text', placeholder='Message', style='position:absolute; width:996px; bottom:20px; left:20px;')
    button#btnSend(class="w3-button w3-round-xlarge w3-blue-grey w3-hover-blue-grey w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:90px; height:50px; bottom:20px; right:15px;') <b>SEND</b>
    button#btnRoom0(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 0</b>
    button#btnRoom1(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 1</b>
    button#btnRoom2(class="w3-button w3-green w3-border w3-hover-blue w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:200px; height:100px; top:200px; left:100px;') <b>Room 2</b>
    button#btnBone0(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:270px; left:320px;' disabled) <i>MOON</i>
    img#tile00(src="images/00.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:270px; left:320px;")
    button#btnBone1(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:270px; left:440px;' disabled) <i>MOON</i>
    img#tile11(src="images/11.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:270px; left:440px;")
    button#btnBone2(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:270px; left:560px;' disabled) <i>MOON</i>
    img#tile12(src="images/12.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:270px; left:560px;")
    button#btnBone3(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:340px; left:200px;' disabled) <i>MOON</i>
    img#tile13(src="images/13.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:340px; left:200px;")
    button#btnBone4(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:340px; left:320px;' disabled) <i>MOON</i>
    img#tile14(src="images/14.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:340px; left:320px;")
    button#btnBone5(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:340px; left:440px;' disabled) <i>MOON</i>
    img#tile15(src="images/15.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:340px; left:440px;")
    button#btnBone6(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:340px; left:560px;' disabled) <i>MOON</i>
    img#tile16(src="images/16.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:340px; left:560px;")
    button#btnBone7(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:340px; left:680px;' disabled) <i>MOON</i>
    img#tile22(src="images/22.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:340px; left:680px;")
    button#btnBone8(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:140px;' disabled) <i>MOON</i>
    img#tile23(src="images/23.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:140px;")
    button#btnBone9(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:260px;' disabled) <i>MOON</i>
    img#tile24(src="images/24.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:260px;")
    button#btnBone10(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:380px;' disabled) <i>MOON</i>
    img#tile25(src="images/25.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:380px;")
    button#btnBone11(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:500px;' disabled) <i>MOON</i>
    img#tile26(src="images/26.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:500px;")
    button#btnBone12(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:620px;' disabled) <i>MOON</i>
    img#tile33(src="images/33.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:620px;")
    button#btnBone13(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:410px; left:740px;' disabled) <i>MOON</i>
    img#tile34(src="images/34.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:410px; left:740px;")
    button#btnBone14(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; left:200px;' disabled) <i>MOON</i>
    img#tile35(src="images/35.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:480px; left:200px;")
    button#btnBone15(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; left:320px;' disabled) <i>MOON</i>
    img#tile36(src="images/36.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:480px; left:320px;")
    button#btnBone16(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; left:440px;' disabled) <i>MOON</i>
    img#tile44(src="images/44.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:480px; left:440px;")
    button#btnBone17(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; left:560px;' disabled) <i>MOON</i>
    img#tile45(src="images/45.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:480px; left:560px;")
    button#btnBone18(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:480px; left:680px;' disabled) <i>MOON</i>
    img#tile46(src="images/46.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:480px; left:680px;")
    button#btnBone19(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:550px; left:320px;' disabled) <i>MOON</i>
    img#tile55(src="images/55.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:550px; left:320px;")
    button#btnBone20(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:550px; left:440px;' disabled) <i>MOON</i>
    img#tile56(src="images/56.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:550px; left:440px;")
    button#btnBone21(class="w3-button w3-white w3-hover-green w3-text-black w3-card-4 w3-ripple" style='position:absolute; width:100px; height:50px; top:550px; left:560px;' disabled) <i>MOON</i>
    img#tile66(src="images/66.jpg" class="w3-button" style="position:absolute; width:120px; height:60px; top:550px; left:560px;")
    h1#message(class="w3-center w3-card-4 w3-yellow w3-text-black w3-round-xxlarge w3-animate-fading" style='position:absolute; top:620px; left:300px; width:400px') <b>Welcome to MOON</b>
    table#stats(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xxlarge" style='position:absolute; top:20px; right:40px; width:600px') <tr><th>Name</th><th>Wins</th><th>Score</th><th>Tricks</th></tr>
    h2#trump(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xxlarge" style='position:absolute; bottom:260px; right:40px; width:300px') <b> TRUMP: - </b> 
    h2#suit(class="w3-center w3-card-4 w3-light-blue w3-text-black w3-round-xxlarge" style='position:absolute; bottom:200px; right:40px; width:300px') <b> SUIT: - </b> 
