doctype html
html
  head
    title= title
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content
    script(src='../socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='javascripts/main.js')
    script(src='javascripts/moon.js')
    script(src='javascripts/bones.js')
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
    320,
    440,
    560,
    200,
    320,
    440,
    560,
    680,
    140,
    260,
    380,
    500,
    620,
    740,
    200,
    320,
    440,
    560,
    680,
    320,
    440,
    560,
    270,
    270,
    270,
    340,
    340,
    340,
    340,
    340,
    410,
    410,
    410,
    410,
    410,
    410,
    480,
    480,
    480,
    480,
    480,
    550,
    550,
    550,
