doctype html
html
  head
    title= title
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content
    script(src='../socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='javascripts/main.js')
    script(src='javascripts/moon.js' type="module")
    script(src='javascripts/bones.js')
